@import "tailwindcss";
@theme {
  --color-purple: #cdb4db;
  --color-light-pink: #ffc8dd;
  --color-pink: #ffafcc;
  --color-blue: #a2d2ff;
  --color-dark-blue: #81a6ff;
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
  .btn-primary {
    @apply text-white px-4 py-2 rounded-md bg-blue-400;
  }
  .btn-secondary {
    @apply text-white px-4 py-2 rounded-md bg-purple;
  }
  .btn-tertiary {
    @apply text-white px-4 py-2 rounded-md bg-light-pink;
  }
  .base-container {
    @apply flex-col gap-10
    w-full h-full
    bg-pink/70 rounded-lg
    outline-pink-700 outline-2;
  }
}
